iframe.bgm{
    border: 0px;
    margin: 0px 0px 0px 0px;
    width: 330px;
    height: 86px;
    position: fixed;
    right: 10px;
    top: 10px;
}
img.photo{
    width: 640px;
    height: 360px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.linker a:link {
    color: darkgreen;
    font-weight: 700;
    font-size: 20pt;
}
.linker a:visited {
    color: purple;
    font-weight: 400;
    font-size: 15pt;
}
.linker a:hover {
    color: blue;
    font-size: 25pt;
    font-weight: 900;
}